body {
    background-color: rgb(25,25,25);
    font-family: Arial;
    color: white;
}

.heading, .js-result{
    font-size: 30px;
    font-weight: bold;
}

.js-result {
    font-size: 25px;
}

button {
    background-color: rgb(25,25,25);
    border: 3px solid white;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    font-size: 48px;
    margin-right: 10px;
    cursor: pointer;
}

.reset-button {
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 0;
    height: 35px;
}